*.class
Projecto/out/production/Projecto/Process.
Projecto/out/production/Projecto/Main.class
Projecto/.idea/workspace.xml
Projecto/.idea/*.xml
Projecto/out/production/Projecto/*.class
Projecto/out/production/Projecto/*.java
*.xml
